.movie-grid{
  display: flex;
  margin-top: 5.3rem;
  gap: 3.3rem;
}

.search-form{
  margin-top: 2rem;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height:4.5rem;

}
body{
  align-items: center;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  color:blue;
}
.button-search{
  padding: 0.6em;
}
.search{
  padding: 0.5rem;
}

.todo{

  font-family: serif;
  text-align: center;
  margin-top: 200px;
  border: 2px solid black;
  border-radius: 16px;
  width: 700px;
}
h1{
  font-size: 60px;
}
button{
  padding: 10px 10px;
  font-size: 1rem;
  border:none;
  cursor:pointer;
  transition: background-color 0.5 ease;;
}
.addbutton{
  width: 90px;
  padding: 10px;
  height: 70px;
  background-color: rgb(84, 208, 84);
  border-radius: 2px;
  font-size: 1.4rem;
}
span{
  font-size: 1.9rem;
  font-weight: bold;
}
.addbutton:hover{
  background-color: rgb(50, 205, 50);
  transition: all;
  transition: ease-in-out;
}

.delete{
  background-color: rgb(241, 21, 21);
  border-radius: 2px;
  font-size: 1.2rem;
}
.delete:hover{
  background-color: rgb(159, 15, 15);
  transition: all;
  transition: ease-in-out;
}

.moves{
  background-color: rgb(89, 145, 240);
  border-radius: 2px;
  font-size: 1.2rem;
}
.moves:hover{
  background-color: rgb(22, 89, 160);
  transition: all;
  transition: ease-in-out;
}
li{
  display: flex;
  font-size: 2rem;
  margin-bottom: 20px;
  list-style: none;
  gap: 10px;
  justify-content: center;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  margin-left: 50px;


}

input[type="text"]
{
  margin-left: 30px;
  font-size: 1.4rem;
  padding: 20px 20px;
  margin-bottom: 20px;
  outline: none;
  
}
.item{
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  justify-content: center;
  
}
